body {
    background: #333333;
}


.betweensep {
    font-weight: 100;
    color: #24c7c1;
    margin-top: 8px;
    font-size: 24px;
 
}
.card {
    border: 9px solid #24c7c1;
    background-color: white;
    color: #24c7c1;
    max-width: 70%;
    justify-content: center;
}
.card:hover {
    background-color: #24c7c1;
    color: white;
    border-color: white;

}
.slash {
    color: white;
}
.abovecardtext {
    color: #24c7c1;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}
.card p{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 15px;
}
.card img {
    border: 10px solid #24c7c1;
    background-color: #24c7c1; 
}
.card img:hover {
    border-color: white;
}
.stick {
    padding-right: 0;
    background-color: white;
    color: #24c7c1;
}
.stick:hover {
    background-color: #24c7c1;
    color: white;
}
.cardb {
    border: 1px solid #24c7c1;
    color: white;
    background-color: #24c7c1;
}
.cardb:hover {
    background-color: white;
    color: #24c7c1;
}
.content {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: none;
    padding-right: none;
}
.ctitle {
    font-family: 'Abril Fatface', cursive;
}
hr {
    background-color: white;
    height: 3px;
    margin: 35px 300px;
}
.customborder {
    border: 4px solid white;
}

        /*fix*/


#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: white;
    font-weight: 100;
    font-size: 23px;
}

#mainNavbar .nav-link:hover {
    font-weight: 600;
    background-color:#24c7c1; 
}

.lofijumbotron {
    background:url("https://wallpapercave.com/wp/wp2336997.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Krona One', sans-serif;
}
#mainNavbar .navbar-brand {
    color: white;
    font-size: 33px;
    font-family: 'Abril Fatface', cursive;
    padding:0;

}
#mainNavbar .navbar-brand:hover {
    background-color: white;
    color: #24c7c1;
}
#headingGroup span {
    color: #24c7c1;
    font-weight: 800;
}
.quote {
    color: #24c7c1;
    font-weight: 500;
    font-size: 48px;
    margin-top: 140px;
    margin-left: 25px;
    margin-right: 25px;
    font-family: 'Great Vibes', cursive;
    border-left:13px solid white ;
}

.charts{
    max-width: 500px;
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  position: relative;
  background: white;
  font-size: 16px;
  font-weight: 300;
    color: #24c7c1;
  text-transform: uppercase;
    letter-spacing: 2px;
  padding: 25px 80px;
  margin: 0 auto;
    box-shadow: 0 16px #24c7c1;
  border-radius: 20px;
}

.charts:hover {
    box-shadow: 0 8px #24c7c1;
    top: 2px;
}

.charts:active {
    box-shadow: 0 0 #24c7c1;
    top: 6px;
}

.quote:hover {
    background-color: white;
    border-left: 13px solid #24c7c1; 
}
#headingGroup h1 {
    font-weight: 100;
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
}
#headingGroup .blue:hover {
    background-color: #24c7c1;
}

.navbar.scrolled {
    background: #24c7c1;
    transition: background 1000ms;
}
.lofisec {
    color: white;
    font-size: 17px;
}
.card-footer:hover {
    color: white;
}
@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 38px;
    }
}
.borderme {
	border: 2.5px solid white;
}
.guitarb {
	background: url("https://eskipaper.com/images/guitar-wallpaper-8.jpg");
	background-size: cover;
	background-position: center;
    font-family: 'Krona One', sans-serif;
}
.pianob {
	background: url("https://i.pinimg.com/originals/85/db/13/85db13362be3c44b0533383d5625cdf4.jpg");
	background-size: cover;
	background-position: center;
	font-family: 'Krona One', sans-serif;
}
.trumpetb {
	background: url("https://www.nantucketcommunitymusiccenter.org/wp-content/uploads/2020/08/Trumpet-Web.png");
    background-size: cover;
	background-position: center;
	font-family: 'Krona One', sans-serif;
}
.violinb {
	background: url("https://wallpaperaccess.com/full/1133472.jpg");
	background-size: cover;
	background-position: center;
	font-family: 'Krona One', sans-serif;
}
.drumb {
	background: url("https://www.wallpapertip.com/wmimgs/10-106249_blue-drums-hd-wallpaper-data-src-best-drum.jpg");
	font-family: 'Krona One', sans-serif;
	background-position: center;
	background-size: cover;
}
.nohovereffect:hover {
	background-color: white;
	border-color: #24c7c1;
    color: #24c7c1;
}
